# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/
**/bin/
**/obj/

# Build outputs
*.exe
*.dll
*.pdb

# EF migrations cache (opcjonalnie)
*.db
*.mdf
*.ldf

# Config files (opcjonalnie)
appsettings.Development.json

# OS
Thumbs.db
Desktop.ini
